.Initial {
    display: block;
    /* padding: 4px 18px 4px 18px; */
    float: left;
    /* border-style: solid; */
    color: #f3e9e9;
    /* background-color: #F44336; */
    font-weight: bold;
    /* border-radius: 1em; */
    padding: 5px 38px 3px 49px;

    background: linear-gradient(60deg, #7b1fa2, #913f9e);
}

    .Initial:hover {
        background: linear-gradient(60deg, #7b1fa2, #913f9e);
        color: White;
    }

.sidebar, .main-panelA, .sidebar-wrapper {
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: .2s, .2s, .35s;
    transition-duration: .2s, .2s, .35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
    /* padding-right: 7em; */
    /* padding-left: 7em; */
    margin-left: 13em;
    margin-top: 4em;
    /* margin-right: 21em; */
}

#tabb {
}

.Clicked {
    float: left;
    display: block;
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    fill-opacity: 0.5;
    padding: 5px 38px 3px 49px;
    font-weight: bold;
    color: White;
    /* border-radius: 1em; */
}

#tablebox {
    padding-left: 12em;
    padding-right: 17em; 
    padding-top: 4em;
}
#pnlTextBoxes {
    width: 21em;
}
#pnlTextBoxes2{
}

/*********************************************************************/

/*********************************************************************/

.dark-edition .form-controladd, .is-focused .dark-edition .form-controladd {
    background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, rgba(180, 180, 180, 0.1) 1px, rgba(180, 180, 180, 0) 1px);
}

.dark-edition .form-controladd {
    color: #fff;
}

.form-controladd, label, input::placeholder {
    line-height: 1.1;
}

.form-controladd, .is-focused .form-controladd {
    background-image: linear-gradient(to top, #9c27b0 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

.form-controladd {
    background: no-repeat center bottom, center calc(100% - 1px);
    background-size: 0 100%, 100% 100%;
    border: 0;
    height: 36px;
    transition: background 0s ease-out;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
    font-size: 14px;
}

.form-controladd {
    display: block;
    width: 15%;
    padding: 0.4375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
}

    *, *::before, *::after {
        box-sizing: border-box;
    }

        *, *::before, *::after {
            box-sizing: border-box;
        }

user agent stylesheet
input {
    padding: 1px 0px;
}

user agent stylesheet
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}