.Initial {
    display: block;
    /* padding: 4px 18px 4px 18px; */
    float: left;
    /* border-style: solid; */
    color: #f3e9e9;
    /* background-color: #F44336; */
    font-weight: bold;
    /* border-radius: 1em; */
    padding: 5px 38px 3px 49px;

    background: linear-gradient(60deg, #7b1fa2, #913f9e);
}

    .Initial:hover {
        background: linear-gradient(60deg, #7b1fa2, #913f9e);
        color: White;
    }

.sidebar, .main-panelA, .sidebar-wrapper {
    -webkit-transition-property: top, bottom, width;
    transition-property: top, bottom, width;
    -webkit-transition-duration: .2s, .2s, .35s;
    transition-duration: .2s, .2s, .35s;
    -webkit-transition-timing-function: linear, linear, ease;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
    /* padding-right: 7em; */
    /* padding-left: 7em; */
    margin-left: 13em;
    margin-top: 4em;
    /* margin-right: 21em; */
}

#tabb {
}

.Clicked {
    float: left;
    display: block;
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    fill-opacity: 0.5;
    padding: 5px 38px 3px 49px;
    font-weight: bold;
    color: White;
    /* border-radius: 1em; */
}

#tablebox {
    padding-left: 12em;
    /* padding-right: 17em; */
    padding-top: 4em;
}

/*******************************************************************************/

.form-control2 {
    display: block;
    width: 100%;
    padding: 0.4375rem 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

    .form-control2::-ms-expand {
        background-color: transparent;
        border: 0;
    }

    .form-control2:focus {
        color: #495057;
        background-color: transparent;
        border-color: #9acffa;
        outline: 0;
        box-shadow: none, 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
    }

    .form-control2::placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .form-control2:disabled,
    .form-control2[readonly] {
        background-color: #e9ecef;
        opacity: 1;
    }

select.form-control2:not([size]):not([multiple]) {
    height: calc(2.4375rem + 2px);
}

select.form-control2:focus::-ms-value {
    color: #495057;
    background-color: transparent;
}

.form-control2-file,
.form-control2-range {
    display: block;
    width: 100%;
}
