#tiletable {
    margin-bottom: 60px;
}

.tiletext {
    opacity: 1.0;
    color: white;
}

.tilefirst {
    height: 137px;
    width: 283px;
    background-color: #a39cb9;
    border-radius: 7px;
    text-align: center;
    margin-left: 306px;
    margin-top: 75px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.atile {
    height: 188px;
    width: 373px;
    background-color: #a39cb9;
    border-radius: 7px;
    text-align: center;
    margin-left: 176px;
    margin-top: 112px;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#alttext {
    margin-left: 601px;
    color: white;
    margin-top: 58px;
    font-size: large;
    cursor: pointer;
}
